@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');

h1 {
    text-align: center;
    font-size: 2.5em;
}
.subtitulos{
    font-family: "Amaranth", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7em;  
}
.subtitulos-matriz{
    font-family: "Amaranth", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em; 
    text-align: left;
}
.texto-rojo{
    color:red;
}
.texto-verde{
    color:green;
}
.texto-azul{
    color:lightseagreen;
}
.texto-amarillo{
    color:darkgoldenrod;
}
.texto-resaltado{
    color: rgba(205, 158, 40, 0.929);
    font-weight: 900;
}